@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #0077ff;
    --color-on-primary: #ffffff;
    --color-secondary: #ff7700;
    --color-on-secondary: #ffffff;
    --color-surface: #ffffff;
    --color-on-surface: #2c2c2c;

    --max-width: 90rem;

    --spacing-large: 1.5rem;

    --padding-vertical-large: 4rem;
    --padding-horizontal-large: 1.5rem;

    /* Display */
    --display-large-font-size: 3rem;
    --display-large-font-weight: 700;
    /* --display-medium-font-size: 45px;
    --display-medium-font-weight: 400;
    --display-small-font-size: 36px;
    --display-small-font-weight: 400; */

    /* Headline */
    --headline-large-font-size: 2.5rem;
    --headline-large-font-weight: 500;
    /* --headline-medium-font-size: 28px;
    --headline-medium-font-weight: 400;
    --headline-small-font-size: 24px;
    --headline-small-font-weight: 400; */

    /* Title */
    --title-large-font-size: 1.5rem;
    --title-large-font-weight: 500;
    /* --title-medium-font-size: 16px;
    --title-medium-font-weight: 500;
    --title-small-font-size: 14px;
    --title-small-font-weight: 500; */

    /* Label */
    --label-large-font-size: 1.5rem;
    --label-large-font-weight: 400;
    --label-medium-font-size: 1.25rem;
    --label-medium-font-weight: 400;
    /* --label-small-font-size: 11px;
    --label-small-font-weight: 500; */

    /* Body */
    --body-large-font-size: 1.5rem;
    --body-large-font-weight: 400;
    --body-medium-font-size: 1.25rem;
    --body-medium-font-weight: 400;
    --body-small-font-size: 1rem;
    --body-small-font-weight: 400;

}

* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(#f5f9ff, #fff9f5);
    background-attachment: fixed;
    background-size: cover;

    font-family: "Poppins", serif;
}

.header {
    position: fixed;
    top: var(--spacing-large);
    left: 0;
    width: 100vw;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__nav {
    max-width: var(--max-width);
    width: 100%;
    padding: 0 var(--padding-horizontal-large);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.header__logo {
    height: 3rem;
    width: 3rem;
}

.header__name {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 3rem;
    color: var(--color-secondary);
}

.header__menu {
    list-style: none;
    display: flex;
    gap: var(--spacing-large)
}

.header__menu-link {
    text-decoration: none;
    font-family: "Poppins", serif;
    font-weight: var(--label-large-font-weight);
    font-size: var(--label-medium-font-size);
    color: var(--color-on-surface);
}

.hero-section {
    max-height: 64rem;
    height: 100vh;
    width: 100vw;
    padding-top: calc(5rem + var(--spacing-large));
    display: flex;
    justify-content: center;
}

.hero-section__content {
    max-width: var(--max-width);
    width: 100%;
    padding: var(--padding-vertical-large) var(--padding-horizontal-large);
    
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
}

.hero-section__presentation{
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-section__title {
    font-family: "Poppins", serif;
    font-weight: var(--display-large-font-weight);
    font-size: var(--display-large-font-size);
    color: var(--color-on-surface);
}

.hero-section__description {
    font-family: "Poppins", serif;
    font-weight: var(--body-large-font-weight);
    font-size: var(--body-large-font-size);
    color: var(--color-on-surface);
}

.hero-section__btn {
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;
}

.btn {
    height: 4rem;
    padding: 0 var(--spacing-large);
    border-radius: 2rem;

    display: flex;
    align-items: center;

    text-decoration: none;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: var(--label-large-font-weight);
    font-size: var(--label-large-font-size);
    white-space: nowrap;
}

.btn--blue.btn--filled {
    background-color: var(--color-primary);
    color: var(--color-on-primary)
}

.btn--orange.btn--filled {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

.hero-section__img-container {
    display: flex;
}

.hero-section__img {
    width: 100%;
    height: auto;
}

.section-divider {
    height: 1px;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

.how-it-works {
    padding: var(--padding-vertical-large) var(--padding-horizontal-large);
    display: flex;
    justify-content: center;
}

.how-it-works__container {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.how-it-works__title {
    display: flex;
    justify-content: center;

    font-size: var(--headline-large-font-size);
    font-weight: var(--headline-large-font-weight);
}

.how-it-works__main {
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
}

.how-it-works__img-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
}

.how-it-works__img {
    max-height: 100%;
    max-width: 100%;
}

.how-it-works__text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.how-it-works__cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.how-it-works__card {
    max-width: 48rem;
    background-color: #ffffff;
    padding: var(--spacing-large);
    border-radius: 1.5rem;
    display: flex;
    gap: 1rem;
}

.how-it-works__card-icon {
    height: 2rem;
    width: 2rem;
}

.how-it-works__card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.how-it-works__card-title {
    font-size: var(--title-large-font-size);
    font-weight: var(--title-large-font-weight);
}

.how-it-works__card-description {
    font-size: var(--body-medium-font-size);
    font-weight: var(--body-medium-font-weight);
}

.how-it-works__cta-bnt {
    display: flex;
    justify-content: center;
}

.btn--blue.btn--outlined {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}