@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #0077ff;
    --color-on-primary: #ffffff;
    --color-secondary: #ff7700;
    --color-on-secondary: #ffffff;
    --color-surface: #ffffff;
    --color-surface-gradient-start: #f5f9ff;
    --color-surface-gradient-end: #fff9f5;
    --color-on-surface: #2c2c2c;
    --color-surface-dim: #2c2c2c;
    --color-on-surface-dim: #ffffff;
    
    --max-width: 90rem;

    --spacing: 1.5rem;

    --padding-vertical: 4rem;
    --padding-horizontal: 4rem;

    /* Display */
    --display-large-font-size: 3rem;
    --display-large-font-weight: 700;

    /* Headline */
    --headline-large-font-size: 2.5rem;
    --headline-large-font-weight: 500;
    --headline-medium-font-size: 2rem;
    --headline-medium-font-weight: 500;

    /* Title */
    --title-large-font-size: 1.5rem;
    --title-large-font-weight: 500;

    /* Label */
    --label-medium-font-size: 1.25rem;
    --label-medium-font-weight: 400;

    /* Body */
    --body-large-font-size: 1.5rem;
    --body-large-font-weight: 400;
    --body-medium-font-size: 1.25rem;
    --body-medium-font-weight: 400;
    --body-small-font-size: 1rem;
    --body-small-font-weight: 400;
}

@media (max-width: 40rem) {
    :root {
        --padding-horizontal: 1rem;
        --display-large-font-size: 2rem;
        --headline-large-font-size: 2rem;
        --headline-medium-font-size: 1.5rem;
        --title-large-font-size: 1.25rem;
        --body-large-font-size: 1.25rem;
        --body-medium-font-size: 1rem;
        --body-small-font-size: 0.75rem;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(var(--color-surface-gradient-start), var(--color-surface-gradient-end));
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", serif;
}

.container-max-width {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.headline {
    display: flex;
    justify-content: center;
    font-size: var(--headline-large-font-size);
    font-weight: var(--headline-large-font-weight);
    color: var(--color-on-surface);
    text-align: center;
}

.body-text {
    font-size: var(--body-large-font-size);
    font-weight: var(--body-large-font-weight);
    color: var(--color-on-surface);
}

.btn {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--label-medium-font-size);
    font-weight: var(--label-medium-font-weight);
    text-decoration: none;
    text-align: center;
}

.btn--filled {
    background-color: var(--btn-color);
    color: var(--btn-on-color);
}

.btn--outlined {
    color: var(--btn-color);
    border: 2px solid var(--btn-color);
}

.btn--blue {
    --btn-color: var(--color-primary);
    --btn-on-color: var(--color-on-primary);
}

.btn--orange {
    --btn-color: var(--color-secondary);
    --btn-on-color: var(--color-on-secondary);
}

.card {
    background-color: var(--color-surface);
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.card__header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card__icon-wrapper {
    display: flex;
}

.card__icon {
    height: 2rem;
    width: 2rem;
}

@media (max-width: 40rem) {
    .card__icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.card__title {
    font-size: var(--title-large-font-size);
    font-weight: var(--title-large-font-weight);
}

.card__description {
    font-size: var(--body-medium-font-size);
    font-weight: var(--body-medium-font-weight);
}

.section-divider {
    height: 1px;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-primary));
    background-size: 200% 100%;
    animation: moveGradient 10s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    transition: transform 0.3s ease;
}

.header--hidden {
    transform: translateY(-100%);
}

.header__nav {
    position: relative;
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2.5rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.header__logo {
    height: 2.5rem;
    width: 2.5rem;
}

.header__name {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-on-surface);
}

.header__name-me {
    color: var(--color-secondary);
}

.header__menu {
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    gap: var(--spacing);
}

.header__menu-link {
    text-decoration: none;
    font-size: var(--label-medium-font-size);
    font-weight: var(--label-medium-font-weight);
    color: var(--color-on-surface);
    transition: color 0.3s ease;
}

.header__menu-link:hover {
    color: var(--color-secondary);
}

.header__menu-link--disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.header__menu-toggle {
    height: 3rem;
    width: 3rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.header__menu-icon {
    height: 2rem;
    width: 2rem;
}

@media (max-width: 75rem) {  
    .header__menu {
        display: none;
        position: absolute;
        right: 0;
        top: calc(100% + 1rem);
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }

    .header__menu--show {
        display: flex;
    }

    .header__menu-toggle {
        display: flex;
    }
    
    .header__menu-item {
        padding: 1rem 1.5rem;
        background-color: #ffffff;
        border-radius: 2rem;
        display: flex;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
}

.hero-section {
    max-height: 64rem;
    min-height: 100vh;
    padding-top: calc(5rem + var(--spacing));
    display: flex;
    align-items: center;
}

.hero-section__container {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing);
}

.hero-section__main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.hero-section__main-text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.hero-section__title {
    font-size: var(--display-large-font-size);
    font-weight: var(--display-large-font-weight);
    color: var(--color-on-surface);
}

.hero-section__btn-container {
    display: flex;
    gap: var(--spacing);
}

@media (max-width: 48rem) {
    .hero-section__btn-container {
        flex-direction: column;
    }
}

.hero-section__img-container {
    max-height: 25rem;
    min-width: 25rem;
    display: flex;
    justify-content: center;
}

.hero-section__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}    

@media (max-width: 75rem) {
    .hero-section {
        max-height: none;
        min-height: auto;
    }

    .hero-section__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero-section__btn-container {
        justify-content: center;
    }

    .hero-section__img-container {
        min-width: auto;
    }
}

.how-it-works {
    display: flex;
}

.how-it-works__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.how-it-works__content {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing);
}

.how-it-works__img-wrapper {
    max-height: 32rem;
    min-width: 25rem;
    flex: 1;
    display: flex;
    justify-content: center;
}

.how-it-works__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.how-it-works__card-container {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.how-it-works__cta-bnt {
    display: flex;
    justify-content: center;
}

@media (max-width: 48rem) {
    .how-it-works__cta-bnt > .btn {
        width: 100%;
    }
}

@media (max-width: 75rem) {
    .how-it-works__content {
        flex-direction: column;
        align-items: center;
    }

    .how-it-works__img-wrapper {
        max-height: 16rem;
        min-width: auto;
    }
}

.offer-services {
    display: flex;
}

.offer-services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
}

.offer-services__card-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.offer-services__card-container > .card {
    flex: 1 1 calc(50% - var(--spacing));
}

.offer-services__img-container {
    height: 25rem;
    display: flex;
}

.offer-services__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.offer-services__cta-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

@media (max-width: 48rem) {
    .offer-services__cta-container {
        width: 100%;
    }
}

.offer-services__cta-title {
    font-size: var(--headline-medium-font-size);
    font-weight: var(--headline-medium-font-weight);
    text-align: center;
}

@media (max-width: 75rem) {
    .offer-services__card-container {
        max-width: 50rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .offer-services__img-container {
        height: 16rem;
    }

}

.footer {
    background-color: var(--color-surface-dim);
    display: flex;
}

.footer__container {
    padding: 1rem var(--padding-horizontal);
    display: flex;
}

@media (max-width: 75rem) {
    .footer__container {
        justify-content: center;
    }
}

.footer__copyright {
    font-size: var(--body-small-font-size);
    font-weight: var(--body-small-font-weight);
    color: var(--color-on-surface-dim);
    text-align: center;
}